@import url(./index.css);
@import url(./tablet.css);

@media (min-width: 1440px) {
  .hero {
    justify-content: flex-start;
  }

  .hero-block {
    width: 450px;
    height: 800px;

    display: flex;
    background-color: var(--black);
  }

  .hero-img-container {
    display: grid;
  }

  .hero-img-desktop {
    width: 540px;
    height: 800px;

    grid-area: one;
  }

  .hero-desktop-heading {
    margin: 189px 0 0 -286px;
    color: var(--white);

    display: grid;
    grid-area: one;
    mix-blend-mode: difference;
  }

  .hero-article {
    margin-left: -64px;
    margin-top: -100px;
    gap: 64px;
  }

  .hero-article-heading {
    display: none;
  }
}
