.hero-block {
  display: none;
}

.hero-img-mobile {
  width: 375px;
}

.hero-img-desktop {
  display: none;
}

.hero-article {
  margin: 32px 16px 16px 16px;

  display: flex;
  flex-direction: column;
  gap: 32px;

  float: right;
}

.hero-article-p {
  width: 343px;
}

.hero-article-button {
  width: 260px;
  height: 72px;
}
