@import url(./index.css);

@media (min-width: 768px) {
  .hero {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .hero-img-container {
    float: left;
  }

  .hero-img-mobile {
    display: none;
  }

  .hero-img-desktop {
    width: 437px;
    height: 700px;

    display: flex;
  }

  .hero-article {
    margin-left: -48px;
    gap: 48px;
  }
}
